<p><%= @user.name %>.</p>
<p>Thank you for registering!</p>
<p><%= link_to "click to complete registration", "http://localhost:3000#{user_path(@user)}/activate_account?code=#{@user.activation_code}"%></p>