<p id="notice"><%= notice %></p>

<p>
  <b>Tutorial part:</b>
  <%= @tutorial_part_test.tutorial_part_id %>
</p>


<%= link_to 'Edit', edit_tutorial_part_test_path(@tutorial_part_test) %> |
<%= link_to 'Back', tutorial_part_tests_path %>
