<div id="categorymenu">
    <ul>
       <li class=" ">
            Categories
         <ul class="navi">
            <% Category.all.each do |category| %>
               <li class="navi"><%= link_to category.name, category %>
               		<ul class="navi">
               			<% category.subcategories.each do |subcat|%>
               				<li class="navi"> <%= link_to subcat.name, subcat %></li>
               			<% end %>
               		</ul>
               </li>
            <% end %>
         </ul>
       </li>
    </ul>
</div>