<panel>
<div class="panel">
	<img class="right" src="images/jon_image.jpg"/>


<div style="clear:both;"></div>
<div class="columns">
	<div class="colleft">
	<h3>Navigation</h3>
		<ul>
                  <li><a <%= link_to "Home", root_path %> </a></li>
		</ul>
	</div>
</div>
<div style="clear:both;"></div>

</div>
<a class="trigger" href="#">infos</a>
</panel>